# PostgreSQL Database Connection String
# Example: postgresql://postgres:postgres@localhost:5432/fintrack
DATABASE_URL= postgresql://neondb_owner:npg_RZzJvj5NIC7n@ep-cold-hall-a1k29ybo-pooler.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require

# Better Auth Secret (Generate via `npx better-auth generate`)
BETTER_AUTH_SECRET=

# Better Auth Base URL
# Example: http://localhost:3001
BETTER_AUTH_URL=

# Port for Backend Server
PORT=3001
